* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'comic sans ms';
}

.wrapper {
    width: 1001px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 20px;
    font-family: 'comic sans ms';
    font-weight: 800;
    color: #b71a1a;
    float: left;
}

.menu {
    float: right;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: rgb(201, 5, 255);
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 0px;
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 0px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #411ab7;
}
h2 {
    font-family: 'comic sans ms';
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
    color: #411ab7;
    width: 100%;
    line-height: 50px;
}

.gambar {
    margin-top: 0px;
    width: 470px;
    height: auto;
}

a.tbl-one {
    background: #0BA6DF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-one:hover {
    background: #FAA533;
    text-decoration: none;
}
a.tbl-two {
    background: #0BA6DF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

a.tbl-two:hover {
    background: #FAA533;
    text-decoration: none;
}

.gambar1 {
    margin-top: 0px;
    width: auto;
    height: 400px;
}
.tengah{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.tutor-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.kartu-tutor{
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img{
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #411ab7;
}

.partners{
    margin-top: auto;
}

.partner-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner{
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img{
    width: 150px;
    border-radius: 50px;
}

.contact{
    background: #dedede;
    padding: 30px 0px 30px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0px auto;
}

h4{
    font-family: 'comic sans ms';
    font-weight: 800px;
    font-size: 20px;
    margin-bottom: 0px;
    color: #411ab7;
    width: 100%;
    line-height: 20px;
}

#copyright{
    text-align: center;
    width: 100%;
    padding: 30px 0px 30px 0px;
    margin-top: 0px;
}
@media screen and (max-width:991.98px){

    .wrapper{
        width: 90%;
    }

    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav.menu{
        width: 100%;
        margin: 0;
    }

    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li{
        display: inline-block;
        float: none;
    }

    section{
        display: block;
    }

    section img{
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-partner{
        width: 50%;
    }

    .kartu-tutor{
        width: 50%;
    }
}